[Desktop Entry]
Version=1.0
Type=Application
Name=Klout
Icon=klout
Exec=/opt/klout/Klout
Comment=Klout
Categories=GNOME;GTK;Development;Documentation;
Terminal=false
